@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    
}

.backgroundLogin {
    background-image: linear-gradient(155deg, #E56A6C 0%, #7753E4 100%);
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-family: "Prompt", sans-serif;
    justify-self: center;
    color: #FFFFFF;
    font-size: 60px;
}

.containerLogin {
    background-color: #F4F4F4;
    justify-content: center;
    justify-self: center;
    align-self: center;
    width: 1000p;
    height: 290px;
    display: flex;
    flex-direction: row;
    padding-inline: 60px;
    border-radius: 10px;
}

h2 {
    font-family: "Poppins", sans-serif;
    justify-self: center;
    color: #CC6589;
    font-size: 20px;
    padding: 20px;
}

.formLogin {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.inputLogin {
    background-color: #CC6589;
    font-family: "Poppins", sans-serif;
    padding-block: 10px;
    padding-inline: 10px;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 6px;
    border-width: 0px;
    width: 200px;
}

.inputLogin::placeholder {
    color: #FFFFFF;
}

.buttonLogin {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding-block: 10px;
    width: 100px;
    border-radius: 10px;
    border-color: #CC6589;
    border-style: solid;
    border-width: 2px;
    color: #CC6589;
    margin-bottom: 200px;
}

hr {
    width: 4px;
    border: 0px;
    height: 80%;
    justify-self: center;
    align-self: center;
    border-radius: 100px;
    background-image: linear-gradient(155deg, #E56A6C 0%, #7753E4 100%);
    margin-inline: 40px;
}

.containerPortfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.portfolioBanner {
    background-color: #c2c2c2;
    width: 400px;
    height: 290px;
    display: block;
    align-self: center;
    padding-inline: 60px;
    border-radius: 10px;
}

.portfolioNome {
    font-size: 40px;
    padding-block: 10px;
}

.portfolioBio {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    text-align: center;
    color: #FFFFFF;
    font-weight: 200;
    padding-bottom: 20px;
}

.linkComponent {
    display: flex;
    padding: 10px;
}

.linkIcone {
    display: block;
    width: 80px;
    height: 80px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-right: 10px; 

}

.linkButton {
    display: flex;
    align-items: center;
    width: 400px;
    height: 80px;
    font-family: "Poppins", sans-serif;
    background-color: #FFFFFF;
    color: #CC6589;
    border-radius: 10px;
    padding-inline: 10px;
    font-size: 30px;
    font-weight: 600;
}

/* Config */

.backgroundConfig {
    background-color: #FFCFD0;
    min-height: 100vh;
}

.configPortfolioBackground {
    background-image: linear-gradient(155deg, #E56A6C 0%, #7753E4 100%);
    width: 400px;
    height: 290px;
    display: flex;
    align-self: center;
    justify-content: center;
    padding-inline: 60px;
    border-radius: 10px;
}

.configPortfolioBanner {
    background-color: #c2c2c2;
    width: 400px;
    height: 200px;
    display: block;
    align-self: center;
    border-radius: 10px;
}

.configPortfolioNome {
    font-size: 40px;
    padding-block: 10px;
    color: #CC6589;

}

.configPortfolioBio {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    text-align: center;
    color: #CC6589;
    font-weight: 300;
    padding-bottom: 20px;
}

.containerConfigLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    margin-inline: 20px;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.configLinkComponent {
    display: flex;
    padding: 10px;
    flex-direction: row;
}

.configLinkText {
    display: flex;
    align-items: center;
    width: 300px;
    height: 30px;
    font-family: "Poppins", sans-serif;
    background-color: #FFFFFF;
    color: #CC6589;
    border-color: #CC6589;
    border-radius: 10px;
    padding-inline: 10px;
    font-size: 20px;
    font-weight: 600;
    margin-inline: 5px;
    border-style: solid;
    border-width: 3px;
}

.configLinkText::placeholder {
    color: #CC6589;
}

.configLinkText {
    display: flex;
    align-items: center;
    width: 300px;
    height: 40px;
    font-family: "Poppins", sans-serif;
    background-color: #FFFFFF;
    color: #CC6589;
    border-color: #CC6589;
    border-radius: 10px;
    padding-inline: 10px;
    font-size: 20px;
    font-weight: 600;
    margin-inline: 5px;
    border-style: solid;
    border-width: 3px;
}

.configLinkText::placeholder {
    color: #CC6589;
}

.configLinkIcone {
    display: block;
    align-items: center;
    background-color: #FFFFFF;
    border-color: #CC6589;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    padding: 8px;
}

.configAdicionarLink {
    width: 60px;
    height: 50px;
    align-self: center;
    background-color: #CC6589;
    border-radius: 10px;
    border-width: 0px;
    margin-inline: 5px;
}

.containerConfigLinkBtn {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.configProfileBio {
    display: flex;
    align-items: center;
    width: 800px;
    height: 40px;
    font-family: "Poppins", sans-serif;
    background-color: #FFFFFF;
    color: #CC6589;
    border-color: #CC6589;
    border-radius: 10px;
    padding-inline: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-inline: 5px;
    border-style: solid;
    border-width: 3px;
    text-wrap: wrap;
    text-align: center;
}

.configProfileBio::placeholder {
    color: #CC6589;
}

ul {
    list-style-type: none;
  }

  .configDeletarLink {
    width: 60px;
    height: 50px;
    align-self: center;
    background-color: #CC6589;
    border-radius: 10px;
    border-width: 0px;
    margin-inline: 5px;
}

.containerDeleteLinkBtn {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-width: 0px;
    background-color: rgba(10,23,55,0);
}